<!DOCTYPE html>
<html>
    <head>
        <title>
          Guest Book
        </title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' />
    </head>
    <body class="container" >
    <div class="card">
        <div class="card-header">
            <h1>
                Guest Books 
            </h1>   
        </div>
        <div class="card-body">
        
            <a href="/entry" class="btn btn-primary btn-lg float-left">
                Write in Guest Book
            </a>
            <span class="float-right h3">
               Total Guest <%=entries.length%>
            </span>
        
        </div>
        
    </div>
    <h1>Guest Book List</h1>
    <% entries.forEach(function(entry){ %>
        <div class="card">
                <div class="card-header h4">
                  <%=entry.name%>
                  <span class="float-right"><%=entry.pubdate%></span> 
                </div>
                <div class="card-body">
                    <blockquote>
                         <%=entry.comments%>
                    </blockquote>
                 
                </div>
        </div>
    <%})%>
   
    </body>
</html>